
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
/* top hader*/
#top-header{
  height: 40px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  
}
#header-info{
  display: flex;
  justify-content: space-between;
  width: 60%;
  
}
#tel, #mail{
  padding-left: 10px;

}#tw{
  color: blue;
  font-size: 20px;
}
#tw-div{
  padding-left: 90px;
}
#yt{
  color:red;
  font-size: 20px;
}
#logo{
  margin-left: 5%;
}
.img-logo{
  width: 90px;
  height: auto;
  padding-top: 5px;
}
.fa-envelope{
  color: rgb(197, 61, 61);
  font-size: 20px;
}
#bars{
  display: none;
}
/* end of top hader*/

/*nav*/
nav ul{
  display: flex;
  justify-content: space-between;
  background-color: rgb(56,59,67);
  overflow: hidden;
  
}
nav ul li{
  
  padding-right: 100px;
  list-style: none;
  padding-top: 20px;
  
}
nav ul li a{
  color:white;
  text-decoration: none;
  text-align: justify;
  text-transform: uppercase;
  
}
nav ul li a:hover{
  font-weight: 700;
}
.link{
  display: flex;
  border-right: 2px solid black;
  height: 60px;
  margin-left: 100px;
}
.link > i{
  padding-top: 20px;
  padding-right: 20px;
  color:rgb(156,157,161);
}
/*end of nav*/
.video-container{
 /*width: 100%;
 height: 500px;
*/
display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    z-index: 1;
  
}
.video-bg{
  /*min-width: 100%;
  height: 100vh;
  */
  position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100vh;
      z-index: -1;
}
.cards{
  z-index: 1;
}
.card{
  width: 500px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 5px;
   /*background-color: rgba(232, 240, 227, 0.8);*/
  background-color: rgb(9,49,66);
  position: absolute;
  right: 50px;
  top: 450px;
  text-align: center;
  padding: 50px;
  transform: translate(-1000%);
  color: white;
  z-index: 1;
  overflow: visible;
}
.card p{
  padding: 20px 0;
  font-size: 1.2rem;
  
}
.visible{
  transform: translate(0%);
}
.about-us{
  width: 100%;
  height: auto;
  position: relative;
  top: 600px;
  z-index: -1;
}
.text-center{
  text-align: center;
  padding: 40px 0;
}
.about-us p{
  text-align: center;
  padding: 0 80px 40px 80px;
  ;
}


.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  margin: 90px 30px;
  
}
.product-card{
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  
}


.product-card .card-img-top {
  transition: transform 1s;
  
}
.product-card:hover  .card-img-top{
  transform: scale(1.2);
}

.card-img-top{
  position: relative;
  width: 100%;
  
  
}
.card-body{
  position: absolute;
  top:160px;
  left: 20px;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  z-index: 3;
 
}
.blur{
  background-color: rgba(104, 101, 102, 0.4);
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: 1;
}
.product-card:hover .blur{
  
  z-index: -1;
}
.more-info{
  width: 50px;
  height: 50px;
  background-color: orangered;
  position: absolute;
  bottom:5px;
  right: 0;;
  text-align: center;
  z-index: -1;
  
}
.more-info h3{
  color: white;
  padding: 15px 0;
  z-index: -1;
  transition: transform 2s;
  transition: ease-in 2s;
}
.product-card:hover .more-info{
  z-index: 1;
}
/*Turn key section*/
.section-1{
  margin-top: 600px;
}
.section-heading{
  text-align: center;
  margin-top: 100px;
}
.turn-key-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 90px 30px;
  grid-auto-rows: 500px;
  grid-gap: 4.5rem;
}
.turn-key-left{
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  align-items: center;

}
.turn-key-left > div:nth-child(1){
  
  background-color: rgb(230, 116, 116);
  transition: 1s;
}
.turn-key-left > div:nth-child(1) > h3{
  
  color: white;
  padding: 30px;
}
.show{
  background-color: rgb(134, 87, 87);
  border-radius: 10%;
  transition: 2s;
  transform: translateX(-100%);
}
.show1{
  transform: translateX(0);
}
.turn-key-left>div>p{
  color: white;
  padding: 30px;
}
.turn-key-right img{
  width: 90%;
  height: 100%;
  padding-left: 40px;
}

/*Footer*/
.footer-container{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #292c2f;
  color:white;
}
.footer-center{
  padding-left: 20%;
  
}
.footer-container .footer-center i{
  background-color:#33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 20px;
  vertical-align: middle;
}
.footer-container .footer-center
p, span{
  padding: 20px 0;
}
.flex{
  display: flex;
  margin: 10px;
  
}
.phone , .location ,.email{
  text-align: center;
}
.copyright{
  background-color: black;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px;
}
.footer-left{
  margin-top: 20px;
  text-align: center;
}
.footer-left div{
  height: 30px;
  text-align: left;
  padding-left: 6rem;
  padding-top:7px;
  
}/*.footer-left>div:nth-child(even){
  background-color: rgb(59, 52, 52);
}*/
.footer-left>div:nth-child(1){
  padding-bottom: 40px;
}
.footer-left h4{
 margin-bottom: 110px;
  color: rgb(221,0,0);
  text-transform: uppercase;
}
.footer-right{
  margin-top: 30px;
  text-align: center;
 
}


.footer-social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}
.footer-twitter i{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}


.footer-youtube i{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}

.footer-facebook i{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  
}

/*mobile*/
@media only screen and (max-width: 768px) {
 body{
   overflow-x: hidden;
   width: 100%;
 }
 header{
   height: 40px;
 }
  #top-header{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
  }
  #bars{
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  nav{
    overflow: hidden;
  }
 
  .nav-links{
    display: list-item;
    justify-content: space-between;
    background-color: rgb(56,59,67);
    overflow-x: hidden;
    transform: translateX(100%);
    z-index: 1;
    
    
  }
  .nav-links-active{
    transform: translateX(0%);
    transition: 0.5s ease-in-out;
  }
  nav ul li{
    
    padding-right: 100px;
    list-style: none;
    padding-top: 20px;
    
  }
  nav ul li a{
    color:white;
    text-decoration: none;
    text-align: justify;
    text-transform: uppercase;
    
  }
  nav ul li a:hover{
    font-weight: 700;
  }
  .link{
    display: flex;
    border-right: 2px solid black;
    height: 60px;
    margin-left: 100px;
    overflow-x: hidden;
  }
  .link > i{
    padding-top: 20px;
    padding-right: 20px;
    color:rgb(156,157,161);
  }
  #logo{
    margin-left: 30px;
  }
  .img-logo{
    width: 90px;
    height: auto;
    padding-top: 5px;
  }
  .card{
    display: none;
  }
  
  .grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.5rem;
      
      
  }
  section .grid{
    margin: 0;
  }
  .mob-up{
    height: 50px;
    top: 135px;
  }
  .mob-up .card-title{
    padding-bottom: 40px;
    height: 50px;
  }

  .video-container{
    /*width: 100%;
    height: 100%;
    position: absolute;
    top: 25px;
     */
     /* display: flex; */
     /* justify-content: center;
     align-items: center;
     text-align: center; */
     background-color: rgba(0, 0, 0, 0.9);
      position: absolute; 
     /* overflow: hidden; */
     /* width: 100%; */
     /* height: 80vh; */
     z-index: 1;
     
height: 85vh;
   }
  .video-bg{
    
    /* width: 50%; */
    
    /* height: 100%; */
    /* position: absolute; */
      /* top:50%;
      left:50%;
      transform: translate(-50%, -50%); */
      /* min-width: 100vw; */
      /* min-height: 80vh; */
      /* z-index: -1; */
      height: 100%;

  }
  .about-us{
    width: 100%;
    height:100vh;
    background-color: white;
   
  }
  .section-1{
    margin-top: 320px;
  }
  .section-heading{
    text-align: center;
    margin-top: 0;
  }
  .about-us h1{
    font-size: 1.5rem;
    
  }
  .text-center{
    text-align: center;
    padding: 10px 0;
  }
  .about-us p{
    text-align: justify;
    padding: 0 10px 40px 10px;
    ;
  }

  
  #header-info{
    display: flex;
    justify-content: space-between;
    width: 60%;
    display: none;
    
  }
  #tel, #mail{
    padding-left: 10px;
    display: none;
  
  }#tw{
    color: blue;
    font-size: 20px;
    display: none;

  }
  #tw-div{
    padding-left: 90px;
    display: none;
  }
  #yt{
    color:red;
    font-size: 20px;
    display: none;
  }
  .turn-key-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 0px;
    grid-gap: 4.5rem;
    height: 900px;
  }
 .turn-key-right{
   height: 70%;
 }
  .turn-key-right img{
    width: 100%;
    height: 70%;
    
    
  }

 
  .footer-container{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    align-items: center;
  }
  .footer-center{
    padding-left: 0;
    
  }
  .footer-left{
    display: none;
   margin: auto;
  }
  .footer-left div{
    margin-top: 20px;
    padding-left: 3rem;
    
  }
  #production-portfolio h4{
    width: 50px;
  }
  .footer-left div p{
    margin: auto;
  }
  .footer-left div h4{
    padding-left: 0;
  }
  .footer-social{
    margin:20px 0px;
    height: 100%;
  }
  .copyright{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;

  }
  .footer-container .footer-center i{
    background-color:#33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 30px 40%;
    vertical-align: middle;
  }
  .flex{
    display: block;
    margin: 10px;
    
  }
  .phone , .location ,.email{
    text-align: center;
  }

}
