
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
/* top hader*/
#top-header{
  height: 40px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  
}
#header-info{
  display: flex;
  justify-content: space-between;
  width: 60%;
  
}
#tel, #mail{
  padding-left: 10px;

}#tw{
  color: blue;
  font-size: 20px;
}
#tw-div{
  padding-left: 90px;
}
#yt{
  color:red;
  font-size: 20px;
}
#logo{
  margin-left: 5%;
}
.img-logo{
  width: 90px;
  height: auto;
  padding-top: 5px;
}
.fa-envelope{
  color: rgb(197, 61, 61);
  font-size: 20px;
}
#bars{
  display: none;
}
/* end of top hader*/

/*nav*/
nav ul{
  display: flex;
  justify-content: space-between;
  background-color: rgb(56,59,67);
  overflow: hidden;
  
}
nav ul li{
  
  padding-right: 100px;
  list-style: none;
  padding-top: 20px;
  
}
nav ul li a{
  color:white;
  text-decoration: none;
  text-align: justify;
  text-transform: uppercase;
  
}
nav ul li a:hover{
  font-weight: 700;
}
.link{
  display: flex;
  border-right: 2px solid black;
  height: 60px;
  margin-left: 100px;
}
.link > i{
  padding-top: 20px;
  padding-right: 20px;
  color:rgb(156,157,161);
}
/*end of nav*/
.video-container{
 width: 100%;
 height: 500px;
position: relative;
  
}
.video-bg{
  width: 100%;
  position: absolute;
  top:-250px;
  z-index: -1;
}
.card{
  width: 500px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 5px;
   /*background-color: rgba(232, 240, 227, 0.8);*/
  background-color: rgb(9,49,66);
  position: absolute;
  right: 50px;
  top: 350px;
  text-align: center;
  padding: 50px;
  transform: translate(-1000%);
  color: white;
  
}
.card p{
  padding: 20px 0;
  font-size: 1.2rem;
  
}
.visible{
  transform: translate(0%);
}
.about-us{
  width: 100%;
  height: auto;
  background-color: rgb(169,167,167);
  position: relative;
  top: 70px;
  z-index: -1;
}
.text-center{
  text-align: center;
  padding: 40px 0;
}
.about-us p{
  text-align: center;
  padding: 0 80px 40px 80px;
  ;
}
/*mobile*/
@media only screen and (max-width: 768px) {
  #bars{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
  }
}
